<input type="checkbox" id="item1" name="item1" >
<label for="item1"> Online School Guide </label><span class="pricetag">€10.00</span><br>
<input type="checkbox" id="item2" name="item2">
<label for="item2"> Mystery Box</label><span class="pricetag">€15.00</span><br>
<input type="checkbox" id="item3" name="item3">
<label for="item3"> Copies and Utensils</label><span class="pricetag">€7.00</span><br>

<div id="paypal-button-container"></div>
<script src="https://www.paypal.com/sdk/js?client-id=AeZJsC8aFIsxie70hdt9WVRHTmwRby3pWf8im6O9zZ-56Ldn2_Ztib0z7kMESnO2C_aYV0q7uxGbnhq7"></script>
<script>
  paypal.Buttons({
    env: 'sandbox', // Valid values are sandbox and live.
    createOrder: async () => {},
    onApprove: async (data) => {}
  }).render('#paypal-button-container');

</script>
